/* Banner Section Style */
.banner{
    --_gap: #{toRem(40)};
    @include min-md{
        --_gap: #{toRem(60)};
    }
    @include min-lg{
        --_gap: #{toRem(80)};
    }

    padding-top: var( --_gap);
    padding-bottom: var( --_gap);

    &__title{
        font-size: toRem(35);
        @include min-sm{
            font-size: toRem(40);
        }
        @include min-md{
            font-size: toRem(60);
        }

        @extend %fw-extrabold;
        margin-bottom: toRem(20);
    }

    &__text{
        font-size: toRem(18);
        @include min-md{
            font-size: toRem(24);
        }

        @extend %fw-semibold;
    }
}