/* Common Button's Style */
.btn{
	--bs-btn-padding-y: #{toRem(12)};
	--bs-btn-padding-x: #{toRem(25)};
	--bs-btn-font-size: #{toRem(16)};
	@include min-md{
		--bs-btn-padding-y: #{toRem(15)};
		--bs-btn-padding-x: #{toRem(30)};
		--bs-btn-font-size: #{toRem(18)};
	}
	--bs-btn-font-family: #{$font-primary};
	--bs-btn-font-weight: 600;
	--bs-btn-line-height: 1;
	box-shadow: none !important;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: toRem(10);

	&-sm{
		--bs-btn-padding-y: #{toRem(10)};
		--bs-btn-padding-x: #{toRem(15)};
		--bs-btn-font-size: #{toRem(15)};
	}

	&__icon{
		margin-right: toRem(10);
	}
}

.btn-primary{
	--bs-btn-bg: #{$color-primary};
	--bs-btn-border-color: #{$color-primary};

	--bs-btn-hover-color: #{$color-primary};
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-border-color: #{$color-primary};

	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: var(--bs-btn-hover-bg);
	--bs-btn-active-border-color: var(--bs-btn-hover-border-color);

	&:focus{
		color: var(--bs-btn-hover-color);
		background-color: var(--bs-btn-hover-bg);
		border-color: var(--bs-btn-hover-border-color);
	}
}

.btn-outline-primary{
	--bs-btn-color: #{$color-primary};
	--bs-btn-border-color: #{$color-primary};
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #{$color-primary};
	--bs-btn-hover-border-color: #{$color-primary};
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #{$color-primary};
	--bs-btn-active-border-color: #{$color-primary};

	&:focus{
		color: var(--bs-btn-hover-color);
		background-color: var(--bs-btn-hover-bg);
		border-color: var(--bs-btn-hover-bg);
	}
}

.btn-secondary{
	--bs-btn-color: #{$color-black};
	--_btn-interaction-color: #{$color-primary};
	--bs-btn-bg: #D3D3D3;
	--bs-btn-border-color: var(--bs-btn-bg);
	--bs-btn-hover-color: #{$color-white};

	--bs-btn-hover-bg: var(--_btn-interaction-color);
	--bs-btn-hover-border-color: var(--_btn-interaction-color);

	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: var(--_btn-interaction-color);
	--bs-btn-active-border-color: var(--_btn-interaction-color);

	&:focus{
		color: var(--bs-btn-hover-color);
		background-color: var(--_btn-interaction-color);
		border-color: var(--_btn-interaction-color);
	}
}


.text-btn{
	display: inline-flex;
	align-items: center;
	font-size: toRem(16);
	@include min-md{
		font-size: toRem(18);
	}
	padding: 5px;
	background-color: transparent;
	border: 0;
	line-height: 1;
	text-decoration: underline;
	@extend %fw-medium;
}