/* CTA Card Style */
.cta-card{
    padding: toRem(40) toRem(20);
    @include min-sm{
        padding-top: toRem(60);
    }
    @include min-xl{
        padding-top: toRem(80);
    }

    &__image{
        @include min-md{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
        }
        @include max-lg{
            max-height: toRem(80);
        }
        @include max-sm{
            margin-bottom: toRem(15);
        }
        transition: transform .3s $transition-ease--bounce;
    }

    &__title{
        @include max-lg{
            font-size: toRem(22);
        }
    }

    &__text{
        @include min-lg{
            max-width: 50%;
        }
        @include max-lg{
            font-size: toRem(16);
        }
    }

    @include hover{
        @include min-md{
            &:hover,
            &:focus-visible
            {
                .cta-card__image{
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }
        }
    }

}

/* Plan Card Style */
.plan-card{
    --_color-plan: var(--_theme, #{$color-primary--dark});
    position: relative;
    display: block;
    background-color: $color-white;
    margin-bottom: $gutter;

    &__header,
    &__body
    {
        border: 2px solid var(--_color-plan);
        padding: toRem(25) toRem(15);
    }

    &--lg{
        .plan-card__body{
            padding-top: toRem(32);
            padding-bottom: toRem(32);
        }
    }

    &__header{
        border-bottom: 0;
        background-color: var(--_color-plan);

        &--shadow{
            box-shadow: 0 toRem(100) 0 var(--_color-plan);
        }


        &__title{
            font-size: toRem(32);
            @extend %fw-bold;
        }

        &__text{
            font-size: toRem(18);
        }
    }

    &__body{
        &__title{
            font-size: toRem(44);
            @extend %fw-extrabold;
        }

        &__text{
            font-size: toRem(18);
        }

        &__sub-title{
            @extend %fw-medium;
        }

        &__list{
            font-size: toRem(18);

            &__item{
                position: relative;
                margin-top: toRem(15);
                padding-left: toRem(20);

                &::before{
                    @extend %common-pseudo;
                    @extend %rounded-circle;
                    width: 8px;
                    height: 8px;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    background-color: var(--_color-plan);
                }
            }
        }
    }
}

/* Feature Card Style */
.feature-card{
    --_size: #{toRem(100)};
    @include min-md{
        --_size: #{toRem(124)};
    }

    position: relative;
    background-color: var(--_theme, #{$color-primary--dark});
    padding: toRem(25);
    padding-top: calc(var(--_size) / 1.5);
    margin-top: calc((var(--_size) / 2) + $gutter);

    &__figure{
        width: var(--_size);
        height: var(--_size);
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        border: 4px solid var(--_theme, #{$color-primary--dark});
        @extend %select-none;

        &__bg{
            @extend %full-width;
        }
    }
}

/* Step Card Style */
.step-card{
    margin-bottom: $gutter;
    
    &__count{
        --_size: #{toRem(55)};

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: var(--_size);
        height: var(--_size);
        font-size: toRem(28);
    }
}