.footer{
    &__logo{
        max-height: toRem(50);
    }

    &__block{
        margin-bottom: toRem(30);

        &__title,
        &__link
        {
            color: $color-white;
        }

        &__title{
            font-size: toRem(16);
            @include min-sm{
                font-size: toRem(18);
            }
            font-weight: 600;
            margin-bottom: toRem(15);
        }

        &__link{
            display: block;
            font-size: toRem(14);
            @include min-sm{
                font-size: toRem(15);
            }
            margin-bottom: toRem(10);

            &:hover,
            &:focus
            {
                color: $color-white;
                text-decoration: underline;
            }
        }
    }
}

[data-bs-toggle="collapse"]{
	position: relative;

	&::before,
	&::after
	{
		@extend %common-pseudo;
		top: 50%;
		right: 5px;
		width: toRem(15);
		height: 2px;
		background-color: $color-white;
		transition: opacity .25s $transition-ease;
	}
	&::before{
		transform: translateY(-50%);
	}
	&::after{
		transform: translateY(-50%) rotate(90deg);
	}

	&[aria-expanded="true"]::after{
		opacity: 0;
	}
}

.circle-number{
	@extend %rounded-circle;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: toRem(25);
	height: toRem(25);
	border: 1px solid $color-white;
	line-height: 0;
	font-weight: 500;
}